<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <h1>Where are you located?</h1>
    <form action="/" id="form" class="form" method="POST">
        <input type="text" id="location" name="location">
        <input type="submit" value="Submit">    
    </form>
</body>
</html>
